@import "macchiato.css";

* {
    font-family: FiraCode Nerd Font;
    font-size: 13px;
    border-radius: 0.85em;
}

window#waybar {
  border: 2px solid @surface1;
  background: @base;
  box-shadow: 1px 1px 10px 10px @mantle;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window,
#workspaces {
  color: @peach;
}

#workspaces label {
  font-size: 17px;
}

#workspaces button {
  padding: 0 0.5em;
  background-color: @surface0;
  color: @text;
  margin: 0.25em;
}

#workspaces button.active {
  background-color: @peach;
}

#custom-logo {
  font-size: 1.75em;
  padding-left: 1em;
  padding-right: 1em;
  color: @text;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/
